.mb-3{
margin-top: 20px;
}

.center-label
{
    position: relative;
    margin-left: 45%;
    font-weight: bold;
}
.center-label-div{
    margin-bottom:4%;
}


.course-create
{
  border: 2px solid grey;
  border-radius: 10px;
  margin:2%;
}

